<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if(products.length > 0) { %>
                <ul>
                    <p>
                    <% products.forEach(p =>{ %>
<li><%= p.productId.title %>  (<%= p.quantity %>)</p>
<form action="/cart-delete-item" method="POST">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">

    <input type="hidden" name="productId" value="<%= p.productId.id %>">
<button class="btn" type="submit" >Delete</button>
</form>
</li>


                    <% }); %>
                </ul>
                <div class="centered">
                <form action="/create-order" method="POST">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                    <button type="submit" class="btn">Order Now</button>
                </form>
            </div>
                <% } else { %>
                    <h1>No products in cart</h1>
                    <% } %>
        </main>
        <%- include('../includes/end.ejs') %>